<div class="form-group" ng-show="ShowAddItemForm">
    <!-- You can always move this to another partial view with a conditional redirecting to it's page to customize it -->
    <input ng-repeat="InputField in InputFields" placeholder="{{InputField.PlaceHolder}}" ng-model="InputField.Value" type="{{InputField.Type}}" class="form-control" />
    <hr />
    <div>
        <button ng-show="false" remark="Fake Button to Prevent Keyboard Carriage Return"></button>
        <button ng-click="DynamicTableService.AddItemFunc(InputFields, TableItems); ShowAddItemForm = false;" ng-show="ShowAddButton" class="btn btn-primary"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Add</button>
        <button ng-click="DynamicTableService.EditItemFunc(InputFields); ShowAddItemForm = false;" ng-show="ShowEditButton" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Modify</button>
        &nbsp;
        <button ng-click="DynamicTableService.ClearInputFormControls(InputFields)" class="btn btn-primary"><i class="glyphicon glyphicon-trash"></i>&nbsp;Clear</button>
        &nbsp;
        <button ng-click="DynamicTableService.ClearInputFormControls(InputFields); ShowAddItemForm = false;" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i>&nbsp;Close</button>
    </div>
</div>
<div style="width:100%;">
    <div class="pull-right">
    </div>
    <table style="table-layout:fixed; max-width:100%;" class="table-bordered">
        <tr>
            <th ng-repeat="InputField in InputFields" style="width:{{InputField.ColumnWidth}}" class="btn-primary" >&nbsp;{{InputField.PlaceHolder}}</th>
            <th style="max-width:15px;"><button class="btn btn-primary btn-xs" ng-click="ShowAddItemForm = true; ShowAddButton = true; ShowEditButton = false;" class="btn btn-block btn-xs"><i class="glyphicon glyphicon-plus-sign"></i></button></th>
        </tr>
        <tr ng-repeat="TableItem in TableItems">
            <td class="btn-sm" style="word-wrap:break-word; vertical-align:top;">
                &nbsp;&nbsp;{{TableItem.Name}}
            </td>
            <td class="btn-sm" style="word-wrap:break-word; vertical-align:top;">
                &nbsp;&nbsp;{{TableItem.Description}}
            </td>
            <td style="vertical-align:top;">
                <button class="btn btn-primary btn-xs" id="{{TableItem.Id}}" ng-click="$parent.ShowAddItemForm = true; $parent.DynamicTableService.ShowEditItemFunc(TableItem, InputFields, ShowAddItemForm); $parent.ShowAddButton = false; $parent.ShowEditButton = true;"><i class="glyphicon glyphicon-pencil"></i></button>
                <button class="btn btn-danger btn-xs" id="{{TableItem.Id}}" ng-click="$parent.DynamicTableService.RemoveItemFunc(TableItem, TableItems)"><i class="glyphicon glyphicon-trash"></i></button>
            </td>
        </tr>
    </table>
</div>