<h2>Dynamic Table Sample </h2>

<form ng-controller="DynamicTableSampleControl" ng-submit="DynamicTableService.ModifyorAddFunc()">
    @{Html.RenderPartial("~/Views/Home/DynamicTable.cshtml");}
</form>