<h3>Dynamic Table Sample </h3>

<form ng-controller="DynamicTableSampleControl" ng-submit="DynamicTableService.ModifyorAddFunc()">
    @{Html.RenderPartial("~/Views/GuiControls/DynamicTable.cshtml");}
</form>